<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Series</ion-title>
    <ion-icon name="menu" class="menu" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="itemsContainer">
    <ion-searchbar color="light" animated></ion-searchbar>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/r2w5UNf2mO2Mdl4q6HopuBms6XM.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <span>Stranger Things</span>
        <p>15/07/2016</p>
        <ion-chip>
          <ion-label color="primary">Drama</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label color="danger">Mistério</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label>Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/i0uajcHH9yogXMfDHpOXexIukG9.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <span>Peaky Blinders: Sangue, Apostas e Navalhas</span>
        <p>30/06/2022</p>
        <ion-chip>
          <ion-label color="primary">Drama</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label color="warning">Crime</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/hdKxcoV5CFc3sGOmbGXDXbx1cTZ.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <span>Lúcifer</span>
        <p>25/01/2016</p>
        <ion-chip>
          <ion-label color="warning">Crime</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label>Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/k8rNqXvZ4A5xkRwIwLUg0pJ1hL9.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <span>Resident Evil: A Série</span>
        <p>14/07/2022</p>
        <ion-chip>
          <ion-label color="primary">Drama</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label>Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/tWtGNTJUAuiM2O9wv0jejw45Sji.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <span>A Anatomia de Grey</span>
        <p>27/03/2006</p>
        <ion-chip>
          <ion-label color="primary">Drama</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
