/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'poppins';
}

//CSS Global
ion-toolbar {
  display: flex;
  box-shadow: 0 0 20px #000;

  ion-title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .menu {
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

ion-tab-bar {
  box-shadow: 0 0 20px #000;
}

.itemsContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-searchbar {
    margin-bottom: 1rem;
    --border-radius: 25px !important;
  }

  ion-item {
    width: 100%;
    height: auto;
    margin-top: 12px;
    border-radius: 10px;
    --background: #292834;
    box-shadow: 0 0 20px #000;
    cursor: pointer;
  }

  ion-item:first-child {
    margin-top: 0;
  }

  ion-thumbnail {
    width: 70px;
    height: fit-content;
  }

  ion-thumbnail img {
    border-radius: 8px;
    box-shadow: -5px 3px 15px #000;
  }

  ion-item ion-label span {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 8px;
  }

  ion-item ion-label p {
    font-weight: 300;
    padding-left: 8px;
    padding-top: 5px;
  }
}
